body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/Createaccount.jpg');
    background-size: cover;
    font-family: sans-serif;
}

.Login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 420px;
    padding: 80px 40px;
    box-sizing: border-box;
    background: rgba(0,0,0,0);
}

.btnlogin {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(255, 9, 9);
    cursor: pointer;
    border-radius: 20px;
    transition: .3s ease-in-out;
    width: 100%;
    margin-bottom: 20px;
}

    .btnlogin:hover {
        background-color: rgb(255, 217, 9);
    }
