body {
    margin: 0;
    padding: 0;
    background-image: url('../Images/copy-space-gradient-orange-background_23-2148845473.webp');
    background-size: cover;
    font-family: sans-serif;
}
